*.pyc
*.pyo
*.pyd
__py
**/__pycache__/
*.jpeg
*.jpg
*.png
*.pth
*.pt
*.ckpt
./NEW_MIMC/
./nohup.out
./.history/
./metrics_logs/
./lightning_logs/
./EVAL_logs/
./training_visual/
training_visual_distill/
training_visual_sft/
nohup.out
*.out
**.npy
Tools_charts/
Tools_charts
**.JPG
*.JPG
**.JPG
**.log
**.txt
.history/*
.history