*.pyc
*.pyo
*.pyd
__py
**/__pycache__/
*.jpeg
*.jpg
*.png
*.pth
*.pt
*.ckpt
/data2/wuxinrui/RA-L/MobileSAM/NEW_MIMC/
/data2/wuxinrui/RA-L/MobileSAM/nohup.out
/data2/wuxinrui/RA-L/MobileSAM/.history/
/data2/wuxinrui/RA-L/MobileSAM/metrics_logs/
/data2/wuxinrui/RA-L/MobileSAM/lightning_logs/
/data2/wuxinrui/RA-L/MobileSAM/EVAL_logs/
/data2/wuxinrui/RA-L/MobileSAM/training_visual/
training_visual_distill/
training_visual_sft/
nohup.out